<div class="container">
  <div class="abs-center">
    <div class="border mt-5 form">
        <h2 class="title text-center pt-4 pb-3"><b>Registro</b></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, required: true, :placeholder => 'Escribe tu Correo…', class: 'form-control' , autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, required: true, :placeholder => 'Escribe tu Contraseña', class: 'form-control', autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, required: true, :placeholder => 'Escribe tu Contraseña', class: 'form-control', autocomplete: "new-password" %>
          </div>
            <br />

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn-login' %>
          </div>
        <% end %>

        <div class="btn-link">
        <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
