<%=form_with(model: @tickets, local: true) do |form| %>



<div class="card ml-auto mr-auto text-dark bg-light mb-3 mt-5" style="max-width: 40rem;">
  <div class="card-header texte-center"><h5 class="text-center txt-newT">Edit Ticket</h5></div>
  <div class="card-body ">
        <%# <div class="input-group input-group-sm mb-3"> %>
            <%# <%=form.label :Estado_Ticket, class: 'input-group-text' %>
            <%# <%=form.text_field :estado_ticket, class: 'form-control' %>
        <%# </div> %>

       <div class="input-group input-group-sm mb-3">
            <%=form.label :Nombre, class: 'input-group-text' %>
            <%=form.text_field :nombre_usuario, autofocus: true, required: true, :placeholder => 'Escribe tu Nombre…', class: 'form-control' %>
        </div>
        
        <div class="input-group input-group-sm mb-3">
            <%=form.label :Telefono, class: 'input-group-text' %>
            <%=form.text_field :telefono, required: true, :placeholder => 'Escribe tu numero de telefono…', class: 'form-control' %>
        </div>

        <div class="input-group input-group-sm mb-3">
            <%=form.label :Correo, class: 'input-group-text' %>
            <%= form.text_field :email_cliente, required: true, :placeholder => 'Escribe tu Correo…', class: 'form-control' %>
        </div>

       <!-- <div class="input-group input-group-sm mb-3">
            <%=form.label :Departamento, class: 'input-group-text' %>
            <%= form.text_field :departamento, class: 'form-control'%>
        </div>
        -->
         
         <div class="input-group input-group-sm mb-3">
            <%=form.label :Pais, class: 'input-group-text' %>
            <%= form.select :pais, [['Honduras','HN'],['Mexico','MX'],['El Salvador','SV'],['Costa Rica','CR'],['Panama','PA'],['Colombia','CO']], {}, {class: "form-select", required: true,} %>
           
            <%=form.label :Ciudad, class: 'input-group-text' %>
            <%= form.select :ciudad, [["Tegucigalpa","TGU"],["Sampedro Sula","SPS"],["Roatan","ROA"]], {}, {class: "form-select"}  %>

            <%=form.label :Ubicacion, class: 'input-group-text' %>
            <%= form.select :ubicacion, [["Torre Morazan","TM"],["Casa Quinchon","CQ"]], {}, {class: "form-select"}  %>
        </div>

        <div class="input-group input-group-sm mb-3">
            <%=form.label :Asunto, class: 'input-group-text' %>
            <%= form.text_field :asunto, required: true, :placeholder => 'Escribe el Asunto…', class: 'form-control'%>
        </div>
        
        <div class="input-group input-group-sm mb-3">
            <%=form.label :Problema, class: 'input-group-text'%>
            <%= form.text_area :solucion, required: true, autofocus: true, :rows => 5, :placeholder => 'Escribe tu mensaje…', class: 'form-control txa'%>
            <%# <%= form.text_area :mensaje, class: 'form-control txa'%>
        </div>

         <div class="input-group input-group-sm mb-3">
            <%=form.label :Estado_Ticket, class: 'input-group-text' %>
            <%= form.select :state, [["Asignando Agente","assign_agent"],["En Progreso","in_progress"],["Solucionado","solved"],["Cerrado","close"]], {}, {class: "form-select"}  %>
        </div>

        <div class="d-flex justify-content-center">
            <%= form.submit class: 'btn btn-info'%>
        </div>

  </div>
</div>


  
    <hr>
<% end %>



